.output-text{
    margin-top: 11px;
    background-color: rgba(46, 45, 45, 0.774);
    width: 500px;
    height: 70px;
    line-height: 70px;
    text-align: right;
    padding-right: 15px;
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.904);
}